body {
	background-image: url("../imgs/fade.jpg");
  background-repeat: repeat-x;
  margin:0;
}

.media-body{
	float:left;
	margin-left: 20px;
	color: white;
	width: 400px;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
h1 {
	display: inline;
	margin: 20px;
	color: white;
}

img {
	background: lightblue;
	width: 300px;
}

.media-left{
	float:left;
}

.nav{
  box-sizing:border-box;
}


.nav .sign{
  float: left;
}


.nav ul {
  float: left;
  list-style: none;
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  width: 500px;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 50px;
  width: 100px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
  box-sizing: border-box;
  border: 5px solid black;
  border-radius: 25px;
}
 
.nav a:hover {
  background-color: rgb(61,230,165);
  color: black;
  border: 5px inset red;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

.nav .logo{
  width: 75px;
  float:left;
  margin:10px 10px 10px 20px;
  background-color: black;
}
.nav .icon{
  float:left;
  margin: 10px 20px;
  font-family: cursive;
  color:rgb(180,241,229);
}
.main{
  margin: 100px auto;
  width: 700px;
  padding:0;
}
.main .main-img{
    width: 700px;
}
footer p{
    font-size: 1.2em;
    text-align: center;
}