<!doctype html>

<html lang="en">
    <head>
        <!-- Load Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

       <link rel="stylesheet" type="text/css" href="../../../css/app.css">

    </head>

    <body>

     <div class="news">
     <header>
            <a href="../index.html">
                <div class="logoback"></div>
            </a>
        <div class="nav clearfix">
            <div class="sign clearfix">
                <img class="logo" src="../imgs/logo2.svg">
                <h1 class="icon">Bafeey Finance</h1>
          <ul>
            <li class="employee">
                <a href="johnny_football.html">Joel</a>
            </li>
            <li class="employee">
                <a href="davey_chase.html">Barney</a>
            </li>
            <li class="employee">
                <a href="cathy_wicket.html">Matt</a>
            </li>
          </ul>
        </div>
      </header>
    </div>

        <div style="padding:50px;"class="container">
            <!-- Back to index.html -->
         
            <!-- Employee Name -->
            <h1>Johnny Football</h1>
            <div class="media-left">
                    <img src="../imgs/mrt.jpg"/>
            </div>


            <div class="media">
               
                <div class="media-body">
                    <!-- Employee Position -->
                    <h4 class="media-heading">Chief Story Teller</h4>
                    <div>
                        <!-- Employee Bio -->
                        <h5>Age</h5>
                        <p>
                            32
                        </p>
                        <h5>Email</h5>
                        <p>
                           <a href="mailto:jfootball@branstation.io">hotguy666@aol.com!</a>
                        </p>
                        <h5>Bio</h5>
                        <p>
                            Connoisseur of many things
                        </p>
                        <h5>My Favourite Website</h5>
                        <p>
                        <a href="http://www.treesontario.ca//">Treeeeeeees!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>