<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../../css/app.css">
	<title>Bafeey Enviromental!</title>
	
</head>
<body>

<div class="news">
  	<header>
      <a href="../../index.html">
        <div class="logoback"></div>
      </a>
    	<div class="nav clearfix">
    		<div class="sign clearfix">
    			<img class="logo" src="imgs/logo2.svg">
    			<h1 class="icon">Bafeey Enviromental</h1>
    		</div>
      		<ul>
        		<li class="employee">
        			<a href="employees/johnny_football.html">Joel</a>
        		</li>
        		<li class="employee">
        			<a href="employees/davey_chase.html">Barney</a>
        		</li>
        		<li class="employee">
        			<a href="employees/cathy_wicket.html">Matt</a>
        		</li>
      		</ul>
      		<a class="signin" href="#">sign in</a>
    	</div>
  	</header>
</div>


	<!-- <nav>
		<a href="employees/johnny_football.html"> Johny</a>
		<a href="employees/davey_chase.html">Davey</a>
		<a href="employees/cathy_wicket.html">Cathy</a>
		<a href="templates/about_us.html">About us</a>
		<a href="templates/contact_us.html">Contact</a>
	</nav> -->

	<div class="main">
		<img class="main-img" src="imgs/trees.jpeg" />
	</div>

	<footer>
		<p>&copy Bafeey Solutions ltd.<p>
	</footer>
</body>
</html>