<!doctype html>

<html lang="en">
    <head>
        <!-- Load Bootstrap -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../../../css/app.css">
    </head>


    <body>
    
   <div class="news">
    <header>
        <a href="../index.html">
            <div class="logoback"></div>
        </a>
        <div class="nav clearfix">
            <div class="sign clearfix">
                <img class="logo" src="../imgs/logo2.svg">
                <h1 class="icon">Bafeey Foreign Affairs</h1>

          <ul>
            <li class="employee">
                <a href="MrT.html">Mr.T</a>
            </li>
            <li class="employee">
                <a href="alf.html">Alf</a>
            </li>
            <li class="employee">
                <a href="jimbob.html">Matt</a>
            </li>
          </ul>

        </div>
    </header>
</div>
        <div style="padding:50px;"class="container">
            <!-- Employee Name -->
            <h1>Alf</h1>

            <div class="media-left">
                    <img src="../imgs/Barney.jpg"/>
            </div>

            <div class="media">
                <div class="media-body">
                    <!-- Employee Position -->
                      <h4 class="media-heading">Good Buddy</h4>
                    <div>
                        <!-- Employee Bio -->
                        <h5>Age</h5>
                        <p>
                            80s
                        </p>
                        <h5>Email</h5>
                        <p>
                        <a href="mailto:fakeemail123@branstation.io">fakeemail123@branstation.io!</a>
                        </p>
                        <h5>Bio</h5>
                        <p>
                            Prodigy Child
                        </p>
                        <h5>My Favourite Website</h5>
                        <p>
                        <a href="http://www.Jimmyr.com/">Jimmyr!</a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Back to index.html -->
            <!-- <a href="../index.html" class="btn btn-info">back</a> -->
        </div>
    </body>
</html>