<!DOCTYPE html>
<html>
<head>
	<title>sign and log</title>
	<link rel="stylesheet" type="text/css" href="../../css/app.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
	<div class="news">
		<a href="../../index.html">
        	<div class="logoback"></div>
    	</a>
  		<header>
    		<div class="nav clearfix">
    			<div class="sign clearfix">
    	
            		<img class="logo" src="../../imgs/logo2.svg">
          
    				<h1 class="icon">Bafeey Solutions</h1>
    			</div>
      			<ul>
        			<li class="departments">
        				<a href="../enviro/index.html">Enviroment</a>
        			</li>
        			<li class="departments">
        				<a href="../finance/index.html">Finance</a>
        			</li>
        				<li class="departments">
        				<a href="../foreign/index.html">Foreign</a>
        			</li>
      			</ul>
    		</div>
    		<h1>Welcome to Bafeey Solution Login Page!</h1>
  		</header>
	</div>

	<div class="main-part clearfix">
		<a href="#">
			<div class="signin">Sign Up
          <form action="demo_form.asp">
        Username: <input type="text" name="usrname"><br>
      New Password: <input type="password" name="password"><br>
      Confirm Password: <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
      </div>
		</a>
		<a href="#">
			<div class="login">Log in
        <form action="demo_form.asp">
  Username: <input type="text" name="usrname"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>
      </div>
		</a>
	</div>
</body>
</html>